<div class="hero-image">
    <div class="hero-text">
      <h1 id="head">Inventory Company</h1>
      <p id="motto">Best solution for your business</p>
    
      
    </div>
  </div>
<div class="stat">

    <div class="row">
        <div class="column">
          <div class="card">
            <p><i class="fa fa-user"></i></p>
            <h3>11+</h3>
            <p>Partners</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <p><i class="fa fa-check"></i></p>
            <h3>55+</h3>
            <p>Projects</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <p><i class="fa fa-smile-o"></i></p>
            <h3>100+</h3>
            <p>Happy Clients</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <p><i class="fa fa-coffee"></i></p>
            <h3>100+</h3>
            <p>Deposits</p>
          </div>
        </div>
      </div>
</div>

<div class="footer">
  <a href="#" id="socialicon" class="fa fa-facebook"></a>
  <a href="#" id="socialicon" class="fa fa-twitter"></a>
  <a href="#" id="socialicon" class="fa fa-google"></a>
  <a href="#" id="socialicon" class="fa fa-linkedin"></a>
  <a href="#" id="socialicon" class="fa fa-skype"></a>
  
  </div>
